html {
    font-family: Didot,'DidotLTStdRoman','Times New Roman',Times,serif;
    font-style: italic;
    padding: 0;
    color: #353535;
    background: rgba(234,234,234,0.7);
}

h1, li, img {
    -moz-transition: width 1s ease-in-out, left 1.5s ease-in-out;
    -webkit-transition: width 1s ease-in-out, left 1.5s ease-in-out;
    -moz-transition: width 1s ease-in-out, left 1.5s ease-in-out;
    -o-transition: width 1s ease-in-out, left 1.5s ease-in-out;
    transition: width 1s ease-in-out, left 1.5s ease-in-out;
}


body {
    font-size: 11pt;
}

img {
    border: none;
    width:100%;
}


a,a:link,a:visited,a:active,a:hover {
    text-decoration: none;
}






ul {
    list-style: none;
    margin: auto;
    padding: 0;
    position: relative;
}

ul li {
    float: left;
    /*margin-right: 20px;*/
    padding: 0;
    text-align: center;
}



.projectThumbnail {
    border-radius: 50%;
    display: block;
}



.projectTitle {
    font-family: Didot,'DidotLTStdRoman','Times New Roman',Times,serif;
    font-size: 15pt;
    margin-top: 15px;
    display: block;
    margin-bottom: 40px;
}
